.container {
  border: 1px solid #ddd;
  height: 50px;
  display: flex;
  padding: 0 20px;
  justify-content: space-between; /* div내 요소들 양쪽으로 나누는 기능 같은 폭으로 */
  align-items: center; /* 세로로 가운데 정렬 */
}
